<li class="nav-item dropdown no-arrow mx-1">
  <a href="#" class="nav-link dropdown-toggle" id="messagesDropdown" 
    role="button" data-toggle="dropdown" aria-haspopup="true" 
    aria-expanded="false">
    <i class="fas fa-envelope fa-fw"></i>

    <!-- Counter - Messages -->
    <% if @messages.present? %>
      <span class="badge badge-danger badge-counter">
        <%= @messages.size %>
      </span>
    <% end %>
  </a>

  <!-- Dropdown - Messages -->
  <div aria-labelledby="messagesDropdown"
    class="dropdown-list dropdown-menu dropdown-menu-right
           shadow animated--grow-in">

    <h6 class="dropdown-header">
      Message Center
    </h6>

    <% @messages&.each do |message| %>
    <a class="dropdown-item d-flex align-items-center" href="#">
      <div class="dropdown-list-image mr-3">
        <img class="rounded-circle" src="<%= message.sender_avatar %>" alt="">
        <div class="status-indicator bg-success"></div>
      </div>
      <div class="font-weight-bold">
        <div class="text-truncate"><%= message.content %></div>
        <div class="small text-gray-500"><%= message.sender %></div>
      </div>
    </a>
    <% end %>

    <a class="dropdown-item text-center small text-gray-500" href="#">
      Read More Messages
    </a>
  </div>
</li>